div {
    position:absolute;
    background-color: #800000;
    height: 100%;
    width: 100%;
  }

  .words {
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  
  }

  h1 {
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }