 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  } 

  /* .center {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */